html, body {
  height: 100%;
  width: 100%;
}
.task_tabs{width: 100%; height: 40px; display: flex; border-bottom: 1px solid gray; position: relative;}
#underline{ height:4px; background-color:  pink; position: absolute; width: 50px; left:0; top: 40px; padding:0px;}
.task_tabs > div{padding: 10px;}
.task{display: flex; padding:10px;justify-content: space-between;}
.task-done{text-decoration: line-through;}